* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: center;
}

.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Menu {
  background-color: #253a46;
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.Menu a {
  color: white;
  text-decoration: none;
  padding-right: 1.5rem;
}
